@import "./variables";

.bragging-rights {
  display: flex;
  align-items: center;
  margin-top: 24px;

  @include smallScreen {
    flex-direction: column;
  }

  .section-container {
    text-align: center;

    .bragging-rights-section {
      height: 220px;

      @include xsScreen {
        height: 300px;
      }
    }

    h2 {
      color: $secondaryColor;
      font-size: $textFont;
    }

    p {
      color: $textColor;
      font-size: $textFont;
    }
  }

  .image-container {
    text-align: center;

    img {
      height: 350px;
    }

    @include largeScreen {
      display: none;
    }
  }
}
