@import "variables";

.homepage {
  display: flex;
  color: $textColor;
  height: 100vh;

  .background-video {
    position: absolute;
    height: 100%;
    width: 100%;

    video {
      width: 100%;
    }
  }

  .background-gradient {
    background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .side-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: $textFont;
  }

  .main-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: $largeTextFont;

    .logo-container {
      background-color: black;
      height: 340px;
      width: 340px;
      border-radius: 100%;
      background: black;
      overflow: hidden;

      img {
        object-position: -5px -5px;
        height: 350px;
      }
    }
  }
}
