@import "variables";

.homepage {
  display: flex;
  color: $textColor;
  height: 100vh;

  .background-video {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;

    video {
      width: 100%;

      @include mediumScreen {
        object-fit: cover;
        height: 100%;
      }
    }
  }

  .background-gradient {
    background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .side-nav {
    position: absolute;
    display: flex;
    font-size: $textFont;
    font-weight: 500;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;

    @include largeScreen {
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: fit-content;
    }

    .hamburger-menu {
      display: none;
      position: relative;
      height: fit-content;
      background-color: transparent;
      border: none;
      margin: $spacing;
      z-index: 10;

      @include smallScreen {
        display: block;
      }

      > div {
        height: 4px;
        width: 28px;
        margin: 4px;
        background-color: $secondaryColor;
        pointer-events: none;
      }
    }

    @include smallScreen {
      flex-direction: column;
      align-items: end;

      h2 {
        display: none;

        &.display {
          display: block;
        }
      }
    }
  }

  .main-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: $largeTextFont;

    .left-side-logo {
      display: flex;
      flex-direction: column;
      align-items: end;
    }

    .right-side-logo {
      display: flex;
      flex-direction: column;
    }

    .logo-container {
      background-color: black;
      height: 340px;
      width: 340px;
      border-radius: 100%;
      background: black;
      overflow: hidden;

     

      img {
        object-position: -5px -5px;
        height: 350px;
      }

      @include smallScreen {
        height: 250px;
        width: 250px;

        img {
          height: 260px;
        }
      }
    }

    @include mediumScreen {
      h2 {
        display: none;
      }
    }
  }
}
